<!doctype html>
<html ng-app="app" xmlns="http://www.w3.org/1999/html">

    <head>
        <title>Dijkstra's Algorithm</title>
        <!-- source to jQuery -->
        <script src="/js/libraries/jquery.min.js"></script>
        <!-- source to Angular & AngularRoute -->
        <script src="/js/libraries/angular.min.js"></script> 
        <script src="/js/libraries/angular-route.min.js"></script>
        <!-- bootstrap stuff -->
        <script src="/js/libraries/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">  
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
    </head>
    <body>
        <script src="https://maps.googleapis.com/maps/api/js?key=<key>" ></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="app.css">
        <div ng-view></div>
    
    </body>

</html>


    