<center>
	<form id="myForm" class="form-inline">
	  <div  class="form-group">
	    <input id="from-form" class="form-control" placeholder="From">
	  </div>
	  <div class="form-group">
	    <input id="to-form" class="form-control"  placeholder="To">
	  </div>
	  <button id="dijk" type="submit" ng-click="Dijkstra()" class="btn btn-default">Find Path
	  </button>
	<button ng-click="clickRepeat()" type="button" class="btn btn-default" aria-label="Left Align">
	  <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
	</button>
	</form>
<div id="map"></div>
</br>
<div id="result"></div>
</center>